
.head-sec {
  background: url('template2img.jpg') ;
  height: 700px;
  position: relative;
  color: white;
}

.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.logo-icon {
  color: orange;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
  font-weight: 500;
}

.nav-links a.active {
  color: orange;
  font-weight: bold;
  opacity: 1;
}

.support-btn {
  background-color: #00c48c;
  padding: 10px 16px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 80px 40px;
}

.hero-content h1 {
  font-size: 42px;
  line-height: 1.4;
  font-weight: bold;
}

.highlight {
  color: orange;
}

.hero-content p {
  margin-top: 20px;
  opacity: 0.9;
  font-size: 15px;
  line-height: 1.6;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.discover {
  background-color: #00c48c;
  color: white;
}

.contact {
  background-color: orange;
  color: white;
}
